
body {
font-family: 'Comfortaa', serif;
font-size: 18px;
}

img {
    width: 30%;
    height: auto;
    -ms-grid-column-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    padding: 10px;
}
